#
# Listen for datagrams with ship computer status information
#
# sudo cp AIS.service /etc/systemd/system/
#
# sudo systemctl daemon-reload
# sudo systemctl enable AIS.service
# sudo systemctl start AIS.service
#
# May-2021, Pat Welch, pat@mousebrains.com

[Unit]
Description=Collect AIS datagrams on the Walton Smith

[Service]
# Type=simple # Default
User=pat
WorkingDirectory=/home/pat/
#
ExecStart=/home/pat/SUNRISE/AIS2.py \
    --logfile=/home/pat/logs/AIS.log \
    --raw=/home/pat/Processed/AIS/ais.raw.db \
    --db=/home/pat/Processed/AIS/ais.db \
    --csv=/home/pat/Dropbox/WaltonSmith/AIS/ais.csv
	
RestartSec=300
Restart=always

[Install]
WantedBy=multi-user.target




