#
# push changes in the dropbox/Pelican to the shore side server
#
# sudo cp syncPush.Pelican.service /etc/systemd/system/syncPush.service
#
# sudo systemctl daemon-reload
# sudo systemctl enable syncPush.service
# sudo systemctl start syncPush.service
#
# Apr-2021, Pat Welch, pat@mousebrains.com

[Unit]
Description=Rsync from the Pelican to the shore side server

[Service]
# Type=simple # Default
User=pat
WorkingDirectory=/home/pat/Dropbox
#
ExecStart=/home/pat/SUNRISE/syncPush.py \
        --logfile=/home/pat/logs/syncPush.log \
	--bwlimit=20 \
	--prefix=Dropbox/ \
	Pelican
        
RestartSec=300
Restart=always

[Install]
WantedBy=multi-user.target

