#
# pull changes from the shore side server for the shore and Walton Smith
#
# sudo cp syncPull.Pelican.service /etc/systemd/system/syncPull.service
#
# sudo systemctl daemon-reload
# sudo systemctl enable syncPull.service
# sudo systemctl start syncPull.service
#
# Apr-2021, Pat Welch, pat@mousebrains.com

[Unit]
Description=Rsync to the Pelican from the shore side server

[Service]
# Type=simple # Default
User=pat
WorkingDirectory=/home/pat
#
ExecStart=/home/pat/bin/syncPull.py \
        --logfile=logs/syncPull.log \
	--bwlimit=62 \
	--dest=. \
	--prefix=Dropbox \
	--src=rvp
        
RestartSec=600
Restart=always

[Install]
WantedBy=multi-user.target

