#
# Copy wh1200 ADCP updates to Dropbox
#
# sudo cp wh1200Copy.WaltonSmith.service /etc/systemd/system/wh1200Copy.service
#
# sudo systemctl daemon-reload
# sudo systemctl enable wh1200Copy.service
# sudo systemctl start wh1200Copy.service
#
# Apr-2021, Pat Welch, pat@mousebrains.com

[Unit]
Description=Anytime the mtime changes on wh1200.nc, copy it into Dropbox

[Service]
# Type=simple # Default
User=pat
WorkingDirectory=/home/pat
#
ExecStart=/home/pat/SUNRISE/periodicCopy.py \
        --logfile=/home/pat/logs/wh1200Copy.log \
	--tempdir=/home/pat/rsync.temp \
	--dtShort=30 \
	--dtLong=180 \
	--src=/mnt/UHdas/WS21163_Hetland_SCI_part2/proc/wh1200/contour/wh1200.nc \
	--tgt=/home/pat/Dropbox/WaltonSmith/ADCP/wh1200.nc \
	--tgt=/mnt/GOM/data/adcp/wh1200.nc
        
RestartSec=300
Restart=always

[Install]
WantedBy=multi-user.target

