#
# Copy wh300 ADCP updates to Dropbox
#
# sudo cp wh300Copy.Pelican.service /etc/systemd/system/wh300Copy.service
#
# sudo systemctl daemon-reload
# sudo systemctl enable wh300Copy.service
# sudo systemctl start wh300Copy.service
#
# Apr-2021, Pat Welch, pat@mousebrains.com

[Unit]
Description=Anytime the mtime changes on wh300.nc, copy it into Dropbox

[Service]
# Type=simple # Default
User=pat
WorkingDirectory=/home/pat
#
ExecStart=/home/pat/SUNRISE/periodicCopy.py \
        --logfile=/home/pat/logs/wh300Copy.log \
	--tempdir=/home/pat/rsync.temp \
	--dtShort=30 \
	--dtLong=180 \
	--src=/mnt/UHdas/PE21_24_Shearman_ADCP_part3/proc/wh300/contour/wh300.nc \
	--tgt=/home/pat/Dropbox/Pelican/ADCP/wh300_part3.nc
        
RestartSec=300
Restart=always

[Install]
WantedBy=multi-user.target

